* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1 {
  text-align: center;
}

.flexbox-row {
  display: flex;
  flex-direction: row;
}
.center {
  place-content: center;
}

.grid-center {
  display: grid;
  place-content: center;
}

.inline {
  display: inline-block;
}

table {
  border: 2px solid goldenrod;
  border-spacing: 0px;
  position: relative;
}
.input-goal {
  border: 1px solid black;
  max-width: 80px;
  max-height: 30px;
}
.padding-label {
  padding-left: 32px;
  padding-right: 8px;
}
.label-goal {
  align-self: center;
  font-size: 28px;
  font-weight: bolder;
}

input {
  text-align: center;
  width: 100%;
  height: 40px;
  font-size: 26px;
  max-width: 400px;
  border: none;
}
th input {
  background-color: #535353;
  color: whitesmoke;
  font-size: 36px;
  font-weight: bolder;
  height: 45px;
}
tfoot input {
  background-color: #535353;
  color: whitesmoke;
  font-size: 36px;
  font-weight: bolder;
  height: 45px;
  pointer-events: none;
}

tbody tr:nth-child(odd) input {
  background: #f1f1f1;
}
th {
  position: sticky;
  top: 0;
}
tfoot td {
  position: sticky;
  bottom: 0;
}

.removePlayerButton {
  background-color: red;
  opacity: 0.4;
  position: absolute;
  right: 0;
  height: 100%;
  width: 30px;
  font-weight: bolder;
}
.removePlayerButton:hover {
  opacity: 1;
  border: 2px solid gold;
}
.button-add-player,
.button-clear-scores {
  width: 120px;
  height: 30px;
  font-weight: bolder;
  font-size: 18px;
}
.button-add-player {
  background-color: darkgreen;
  color: white;
}
.button-clear-scores {
  background-color: yellow;
  color: black;
}
.padding {
  padding-top: 16px;
  padding-bottom: 32px;
}
/* input remove arrows */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type="number"] {
  -moz-appearance: textfield;
}
